In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [2]:
df1 = pd.read_csv('noticias_esportes.csv')
df1.head()

,titulo,subtitulo,conteudo,link,target
0,Carona com Deyverson: atacante do Palmeiras ab...,Autor do gol do décimo título brasileiro do Ve...,"Deyverson foi o convidado do quadro ""Carona co...",https://globoesporte.globo.com/futebol/times/p...,1
1,River x Boca: final da Libertadores em Madri t...,"Até véspera do anúncio, Doha era favorita para...",Um telefonema na manhã de quinta-feira entre o...,https://globoesporte.globo.com/futebol/liberta...,1
2,E-Brasileirão 2018,Assista ao vivo à fase final do campeonato de ...,NaN,https://sportv.globo.com/site/e-sportv/ao-vivo...,1
3,Inauguração de estátua de Renato Gaúcho no Grê...,"Previsão para conclusão era 15 de setembro, ma...",Renato Gaúcho acertou sua renovação de contrat...,https://globoesporte.globo.com/rs/futebol/time...,1
4,Zagallo visita novo CT do Flamengo antes de in...,Ex-técnico do Flamengo e da seleção brasileira...,"Zagallo ""furou"" a festa e foi o primeiro a con...",https://globoesporte.globo.com/futebol/times/f...,1

In [3]:
df1.shape

(5008, 5)

In [4]:
df1 = df1.fillna('')

In [5]:
df1['conteudo'] = df1.apply(lambda row: row['titulo'] +'\n\n'+ row['subtitulo'] +'\n\n'+ row['conteudo'], axis=1)

In [6]:
df1 = df1[['conteudo', 'target']].copy()
df1.columns = ['noticia', 'target']

In [7]:
df1.head()

                                             noticia  target
0  Carona com Deyverson: atacante do Palmeiras ab...       1
1  River x Boca: final da Libertadores em Madri t...       1
2  E-Brasileirão 2018\n\nAssista ao vivo à fase f...       1
3  Inauguração de estátua de Renato Gaúcho no Grê...       1
4  Zagallo visita novo CT do Flamengo antes de in...       1

In [8]:
print(df1.iloc[0]['noticia'])

Carona com Deyverson: atacante do Palmeiras abre sua casa e dá show em frente às câmeras

Autor do gol do décimo título brasileiro do Verdão participa de quadro com Ivan Moré no Globo Esporte SP

Deyverson foi o convidado do quadro "Carona com Ivan Moré" no Globo Esporte SP desta sexta-feira. O autor do gol do décimo título brasileiro do Palmeiras passeou de carro com o apresentador pela ruas de São Paulo. Veja no vídeo abaixo.
O apresentador buscou Deyverson em casa e o levou para a Academia de Futebol. No trajeto teve aula piscadinha do pupilo de Felipão.
Antes da resenha sob quatro rodas, Deyverson abriu a porta de seu apartamento para a nossa equipe. O jogador, que está solteiro, mora com um irmão e sempre recebe amigos do Rio de Janeiro. Com vários homens dentro de casa, a bagunça é completa, com roupas pra tudo quanto é lado.
Ivan Moré já chegou abrindo geladeira e o frigobar para conferir a dieta de Deyverson e o guarda-roupa pra conferir o estilo do boleiro.
Já prontos para o rolê de carro, Deyverson abriu seu coração: falou do passado e futuro e é claro, do Palmeiras e da saga de comemoração do título também – veja como foi a participação do atacante no quadro "Carona com Ivan Moré" no vídeo acima. Abaixo, veja um top 10 de Deyverson no Campeonato Brasileiro.
+ Veja notícias do Palmeiras

In [9]:
df2 = pd.read_csv('noticias_gizmodo.csv')
df2.head()

                                             noticia  target
0  5 detalhes para ficar de olho nas especificaçõ...       0
1  O que é matéria escura e por que ninguém a enc...       0
2  Chimpanzés podem ser manipuladores assim como ...       0
3  [Review] Headphones Surface, da Microsoft, são...       0
4  Estados Unidos pedem que governos aliados não ...       0

In [10]:
df2.shape

(1954, 2)

In [11]:
df3 = pd.read_csv('sb_ds.csv', sep=';')
df3.head()

                                             noticia  target
0  Com novas categorias, prêmio Desafio Pfizer ab...       0
1  Chatbot fortalece presença digital do Hapvida ...       0
2  Aplicativo Hello Mom permite o compartilhament...       0
3  SulAmérica Saúde acumula mais de 2M de usuário...       0
4  Automação do atendimento: qual deve ser o pont...       0

In [12]:
df3.shape

(633, 2)

In [13]:
df4 = pd.read_csv('NewsIF.csv')

In [14]:
df4.head()

,data,titulo,conteudo
0,2018-11-19,Oportunidades,\n\n\n\n\t \n\n\n\n\n\n\n
1,2018-11-19,Servidores e alunos do NEABI - Núcleo de Estud...,\n\n\tServidores e alunos do NEABI - Núcleo de...
2,2018-11-19,"O último módulo - Módulo 4 - da ""Cartilha IFNu...",\n\n\tA “cartilha IF Nutri - Promoção da saúde...
3,2018-11-19,Campus Barbacena divulga listagem de aplicador...,\n\n\tCampus Barbacena divulgou a listagem de ...
4,2018-11-19,Campus Barbacena divulga as chapas inscritas p...,"\n\n\tA Comissão Eleitoral, no uso de suas atr..."

In [15]:
df4.shape

(4922, 3)

In [16]:
df4['conteudo'] = df4.apply(lambda row: row['titulo'] +'\n\n'+ row['conteudo'], axis=1)

In [17]:
df4 = df4[['conteudo']].iloc[1:]

In [18]:
df4['target'] = 0

In [19]:
df4.columns = ['noticia', 'target']

In [20]:
df4.head()

                                             noticia  target
1  Servidores e alunos do NEABI - Núcleo de Estud...       0
2  O último módulo - Módulo 4 - da "Cartilha IFNu...       0
3  Campus Barbacena divulga listagem de aplicador...       0
4  Campus Barbacena divulga as chapas inscritas p...       0
5  Divulgado o Edital de Convocação para eleição ...       0

In [21]:
df5 = pd.read_csv('NewsCM.csv')
df5.head()

,data,titulo,conteudo
0,2017-11-22 12:50:36,Mais dois Forks devem acontecer na blockchain ...,"Depois de 01 de agosto de 2017, podemos dizer ..."
1,2017-11-22 14:20:18,Diretores financeiros divergem sobre o Bitcoin...,De acordo com uma pesquisa realizada pela CNBC...
2,2017-11-22 15:45:40,Bitfinex adiciona o par BTC/EUR e pode estar m...,"A Bitfinex, a maior exchange do mundo por volu..."
3,2017-11-22 17:30:12,Vila japonesa planeja usar ICOs para captar re...,Tudo como o país com a regulamentação mais fav...
4,2017-11-22 18:01:58,KYC legal : dois conselheiros Davis III e Sana...,"A equipe da KYC LEGAL, uma plataforma de verif..."

In [22]:
df5.shape

(3798, 3)

In [23]:
df5['noticia'] = df5.apply(lambda row: row['titulo'] +'\n\n'+ row['conteudo'], axis=1)

In [24]:
df5['target'] = 0
df5 =df5[['noticia', 'target']]

In [25]:
df5.head()

                                             noticia  target
0  Mais dois Forks devem acontecer na blockchain ...       0
1  Diretores financeiros divergem sobre o Bitcoin...       0
2  Bitfinex adiciona o par BTC/EUR e pode estar m...       0
3  Vila japonesa planeja usar ICOs para captar re...       0
4  KYC legal : dois conselheiros Davis III e Sana...       0

In [26]:
df_noticias = pd.DataFrame()

In [27]:
df_noticias = df_noticias.append([df1, df2, df3, df4, df5], ignore_index=True, sort=False)

In [29]:
df_noticias.shape

(16314, 2)

In [30]:
df_noticias.head()

                                             noticia  target
0  Carona com Deyverson: atacante do Palmeiras ab...       1
1  River x Boca: final da Libertadores em Madri t...       1
2  E-Brasileirão 2018\n\nAssista ao vivo à fase f...       1
3  Inauguração de estátua de Renato Gaúcho no Grê...       1
4  Zagallo visita novo CT do Flamengo antes de in...       1

In [249]:
# embaralhar e selecionar o maximo de noticias

df, df2, target, target2 = train_test_split(
    df_noticias.drop(['target'], axis=1), 
    df_noticias['target'], 
    test_size=12000,
    random_state=25
)

df['target'] = target
df2['target'] = target2
df_noticias = pd.DataFrame().append([df, df2], ignore_index=True, sort=False )

df_noticias = pd.DataFrame().append([
        df_noticias[df_noticias.target == 0].iloc[:2000],
        df_noticias[df_noticias.target == 1].iloc[:2000] ],
        ignore_index=True,
        
)

In [250]:
df_noticias.tail()

                                                noticia  target
3995  Após encerrar carreira na F1, Alonso confirma ...       1
3996  Encaradas tensas e provocações marcam a pesage...       1
3997  Botafogo x Paraná: tudo o que você precisa sab...       1
3998  Fred joga os primeiros 90 minutos no Cruzeiro ...       1
3999  Guilherme Santos pega um jogo de suspensão no ...       1

In [31]:
df_noticias.target.value_counts()

0    11306
1     5008
Name: target, dtype: int64

In [32]:
df_noticias.to_csv('noticias_all.csv', index=False)